.active-user-row {
  background-color: #d8e2d9 !important;
}
  
  .search{
    margin-bottom: 16px;
    width: 50%;
    margin-top: 15px;
    
}
.filters-container {
  display: flex;
  align-items: center; 
 height: 70px;
  gap: 16px;
}

.filters-container .search {
  width: 300px; 
}

.filters-container .ant-select {
  width: 200px; 
}
